let selectors = { 
    todoTask: "todo-task",
    todoHeader: "task-header",
    todoDate: "task-date",
    todoDescription: "task-description",
    taskId: "task-",
    formid: "todo-form",
    dataAttribute: "data",
    deleteDiv: "delete-div"

},

codes = {
    "1" : "#pending",
    "2" : "#inProgress",
    "3" : "#completed"
} ; 

//Adding Task

let generateElement = function(para) {
    let parent = $(codes[para.code]);
    let wrapper;
    if(!parent){
        return ;
    } 

    wrapper = $("<div />", {
         "class": selectors.todoTask,
         "id": selectors.taskId + para.id,
         "data": para.id 
   }).appendTo(parent) ; 

   $("<div/>", {
       "class": selectors.todoHeader,
       "text": para.title
   }).appendTo(wrapper) ;

   $("<div/>",{
       "class": selectors.todoDate,
       "text" : para.date
   }).appendTo(wrapper); 

   $("<div />", {
       "class": selectors.todoDescription,
       "text" : para.description
   }).appendTo(wrapper) ;
}; 

// Remove task
let removeElemt = function(para){
    $("#"+selectors.taskID+para.id).remove();
};

// Saving task in Local Storage 
let data = JSON.parse(localStorage.getItem("todoData"));
localStorage.setItem("todoData", JSON.stringify(data)) ;

//Submitting the todo form
let addItem = () => {
    let inputs = $("#"+selectors.formId+" :Input" ) ;
    let errorMessage = "Title can be empty" ;
    let id, title, description, date, tempData ;
    if(!title.length !==4){
        return;
    } 
    title = inputs[0].value;
    description=inputs[1].value;
    date=inputs[2].value;
    if(!title){
        generateDialog(errorMessage) ;
        return ;
    } 
     
    id = new Date().getTime() ;

    tempData = {
        id : id ,
        code: "1" ,
        title: title ,
        date: date ,
        description: description 
    } ;

    //Saving Element in Local Storage
    data[id] = tempData ;
    localStorage.setItem("todoData", JSON.stringify(data)) ;

    // Generate Todo Element 
    generateElement(tempData) ;

    // Reset Form 
    inputs[0].value="" ;
    inputs[1].value="" ;
    inputs[2].value="" ;
} ;